{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "emergency-dispatch-ems",
    "storage_bucket": "emergency-dispatch-ems.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef0123456789",
        "android_client_info": {
          "package_name": "com.ems.dispatch.ambulance_driver_app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyFakeKeyForTemplatePlaceholder"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
